/** tag selectors **/
body{
    font-family: 'Poppins', sans-serif;
}

/** class selectors **/
.navbar-brand{
    font-family: 'Montserrat', sans-serif; 
}

/** id selectors **/
#articles{
    margin-top: 10px;
}
